<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                Find Answers
            </a>
            <p class="navbar-text pull-right">
                <a ng-click="model.updateUser(model.user)"
                   class="navbar-link pull-right">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </p>
        </div>
    </div>
</nav>
<div class="container">

    <div ng-if="model.error"
         class="alert alert-danger"
         role="alert">
        {{model.error}}
    </div>

    <div ng-if="model.success"
         class="alert alert-success"
         role="alert">
        {{model.message}}
    </div>

    <div class="list-group">
        <a class="list-group-item">
            <h4 class="list-group-item-heading">Q. {{model.question.title}}</h4>
            <div class="list-group-item-text"
                 ng-bind-html="model.getSafeHTML(model.question.body)">
            </div>
        </a>
    </div>

    <div class="form-group custom-btns btn-block">
        <div class="btn btn-primary btn-lg" ng-click="model.checked()"> Mark Checked </div>
        <!--preview option-->
        <div class="btn btn-danger btn-lg" ng-click="model.deleteQuestion()"> Delete </div>
    </div>

</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="navbar-footer">
            <div class="navbar-text pull-right">
                <a href="#/user/{{model.user._id}}">
                    <span class="glyphicon glyphicon-user pull-right"></span>
                </a>
            </div>
        </div>
    </div>
</nav>