<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                Find Answers
            </a>
            <p class="navbar-text pull-right">
                <a ng-click="model.updateUser(model.user)"
                   class="navbar-link pull-right">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container">

    <ul class="nav nav-tabs">
        <li role="presentation"><a href="#/user/{{model.uid}}/admin/question">Questions</a></li>
        <li role="presentation"><a href="#/user/{{model.uid}}/admin/user">Answers</a></li>
        <li role="presentation" class="active"><a>Users</a></li>
    </ul>
    <div class="container">
        <div ng-if="model.error"
             class="alert alert-danger">
            {{model.error}}
        </div>
    </div>
    <div class="input-group">
        <input ng-model="model.searchText"
               type="text"
               class="form-control"
               placeholder="Find Other Users..">
    <span class="input-group-btn">
        <a ng-click="model.searchUsers(model.searchText)"
           class="btn btn-default"
           type="button">
            <span class="glyphicon glyphicon-search"></span>
        </a>
    </span>
    </div>
<div class="container"
     ng-repeat="user in model.users">
    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
        <h3 class="media-heading"><strong><a href="#/user/public/{{user._id}}">{{user.firstName}} {{user.lastName}}</a></strong></h3>
        <p>Username: <a href="#/user/public/{{user._id}}">{{user.username}}</a></p>
    </div>
    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
        <p><strong>About: </strong>{{user.about}}</p>
        <p><strong>Skills: </strong>{{user.skill}}</p>
    </div>
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <hr>
    </div>
</div>

</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="navbar-footer">
            <div class="navbar-text pull-right">
                <a href="#/user/{{model.user._id}}">
                    <span class="glyphicon glyphicon-user pull-right"></span>
                </a>
            </div>
        </div>
    </div>
</nav>