input.form-control {
    margin-bottom: 5px;
}

body {
    padding-top: 60px;
    padding-bottom: 60px;
}

.pad-rt
{
    padding-right: 15px;
}

.pad-lft
{
    padding-left: 15px;
}


.navbar-text.pull-right {
    padding-right: 15px;
}

.navbar-link.pull-right {
    padding-right: 15px;
}

.navbar-text.pull-left {
    padding-left: 15px;
}

li.list-group-item {
    border: 0 none;
}

.jga-widget-tool {
    position: absolute;
    right: 15px;
    background-color: white;
    padding-left: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    border-bottom-left-radius: 8px;
    opacity: 0.7;
}

.jga-widget-tool .fa-times-circle{
    color: red;
    opacity: 0.7;
}

.jga-widget-tool .fa-check-circle {
    color: darkgreen;
    opacity: 0.7;
}

.jga-widget-tool .fa-pencil {
    position: relative;
    color: black;
    opacity: 0.7;
}

a:hover {
    text-decoration: none;
}

.custom-btns {
    margin-top: 5px;
}

.youtube-widget {
    position: relative;
    padding-bottom:56.25%;
    height: 0;
}

.youtube-widget iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*input.ng-invalid {*/
    /*border: 2px red solid;*/
/*}*/

span.err {
    color: rgba(229, 9, 9, 0.71);
}

.pointer-fix {
    cursor: pointer;
}

.btn-social {
    text-align:center;
}

.input-group {
    margin: 15px;
}

.list-group {
    margin: 15px;
    padding-left: 15px;
}

.pagination {
    margin-bottom: 60px;
}

.list-group-item-heading {
    background-color: cornsilk;
}

.no-highlight {
    background-color: white;
}

.user-search{
    margin-top: -5%;
}

.nav-tabs{
    margin: 15px;
}

.error-when {
    border: 2px red solid;
}

.error-also {
    border: 2px red solid;
}

.pad-center {
    margin: 100px auto;
}

img {
    width: 100%;
}

.two-btns {
    display: inline-block;
    width: 40%;
    margin-left: 6%;
    margin-right: 1%;
    margin-top: 5%;
}

.text-angular-view{
    margin: 15px;
}


@import "http://fonts.googleapis.com/css?family=Roboto:300,400,500,700";

.mb20 { margin-bottom: 20px; }

hgroup { padding-left: 15px; border-bottom: 1px solid #ccc; }
hgroup h1 { font: 500 normal 1.625em "Roboto",Arial,Verdana,sans-serif; color: #2a3644; margin-top: 0; line-height: 1.15; }
hgroup h2.lead { font: normal normal 1.125em "Roboto",Arial,Verdana,sans-serif; color: #2a3644; margin: 0; padding-bottom: 10px; }

.search-result {word-wrap:break-word;}
.container {word-wrap:break-word;}
.search-result .thumbnail { border-radius: 0 !important; }
.search-result:first-child { margin-top: 0 !important; }
.search-result { margin-top: 20px; }
.search-result .col-md-10 { border-right: 1px dotted #ccc; min-height: 140px; }
.search-result .col-md-2 { border-right: 1px dotted #ccc; min-height: 140px; }
.search-result ul { padding-left: 0 !important; list-style: none;  }
.search-result ul li { font: 400 normal .85em "Roboto",Arial,Verdana,sans-serif;  line-height: 30px; }
.search-result ul li i { padding-right: 5px; }
.search-result .col-md-7 { position: relative; }
.search-result h3 { font: 500 normal 1.375em "Roboto",Arial,Verdana,sans-serif; margin-top: 0 !important; margin-bottom: 10px !important; }
.search-result h3 > a, .search-result i { color: #248dc1 !important; }
.search-result p { font: normal normal 1.125em "Roboto",Arial,Verdana,sans-serif; }
.search-result span.plus { position: absolute; right: 5px; top: 126px; }
.search-result span.plus a { background-color: #248dc1; padding: 5px 5px 3px 5px; }
.search-result span.plus a:hover { background-color: #414141; }
.search-result span.plus a i { color: #fff !important; }
.search-result span.border { display: block; width: 97%; margin: 0 15px; border-bottom: 1px dotted #ccc; }
.restrict-text {width: 100px;}


.skyblue {
    background-color: #22c8ff;
}
.deepskyblue {
    background-color: #00bfff;
}
.darkerskyblue {
    background-color: #00a6dd;
}
.carousel-indicators {
    bottom: 0;
}
.carousel-control.right,
.carousel-control.left {
    background-image: none;
}
.carousel .item {
    min-height: 350px;
    height: 100%;
    width:100%;
}
.carousel-caption h3,
.carousel-caption h4,
.carousel .icon-container,
.carousel-caption button {
    background-color: #09c;
}
.carousel-caption h3,
.carousel-caption h4{
    padding: .5em;
}
.carousel .icon-container {
    display: inline-block;
    font-size: 25px;
    line-height: 25px;
    padding: 1em;
    text-align: center;
    border-radius: 50%;
}
.carousel-caption button {
    border-color: #00bfff;
    margin-top: 1em;
}

.p {
    padding-top: 125px;
    text-align: center;
}

.p a {
    text-decoration: underline;
}

.navbar-home{
    opacity: 1;
}

.navbar-home .navbar-brand{
    opacity: 1;
}

.navbar-brand>img{
    width: 15%;
}

.navbar-brand>p{
    float: right;
}

.col-lg-12>img{
    width: 100%;
    float: top;
    margin: 5px;
    padding-top: 12px;
    position: relative;
}

.col-lg-12>h1{
    float: left;
    position: relative;
}

.col-lg-12>p{
    float: bottom;
    position: relative;
}

.alert-warning{
    background-color: #ecb573;
}

.margin-5{
    margin-top: 5px;
}

.btn-orange{
    background-color: #ffa64d;
    margin-top: 13px;
}

.margin-horizontal-30{
    margin-left: 30px;
    margin-right: 30px;
}

.navbar-text .glyphicon .pull-right{
    padding-right: 15px;
}

.navbar-text .fa .fa-users .pull-left{
    padding-left: 15px;
}
