<div class ="container">
    <!--ng-show: Shows if the array has at least one element ng-if: the div is not part of the DOM and is added dynamically if it's true-->
    <div ng-if="model.error"
         class="alert alert-danger"
         role="alert">
        {{model.error}}
    </div>
    <h1>Login</h1>
    <input ng-model="username"
           placeholder="username"
           type="text"
           class="form-control" />
    <input ng-model="password"
           placeholder="password"
           type="password"
           class="form-control"/>
    <a ng-click="model.login(username,password)"
       class="btn btn-primary btn-block"
       role="button">Login
    </a>
    <a class="btn btn-success btn-block"
       href="#/register"
       role="button">Register
    </a>
</div>