<div class ="container">
    <!--ng-show: Shows if the array has at least one element ng-if: the div is not part of the DOM and is added dynamically if it's true-->
    <div ng-if="model.error"
         class="alert alert-danger"
         role="alert">
        {{model.error}}
    </div>

    <div class="form-group" ng-form name="myForm">
        <h1>Login</h1>
        <input name="username"
               ng-model="username" required
               class="form-control"
               placeholder="username"
               type="text"
               autocorrect="off"
               autocapitalize=off"/>
        <span   ng-if = "model.error"
                ng-show="myForm.username.$error.required"
                class="err">
            *Required Field
        </span>
        <input name="password"
               ng-model="password" required
               class="form-control"
               placeholder="password"
               type="password"/>
        <span   ng-if = "model.error"
                ng-show="myForm.password.$error.required"
                class="err">
            *Required Field
        </span>
    <!--<h1>{{myForm.username.$invalid}}</h1>-->
    <!--<h1>{{myForm.password.$invalid}}</h1>-->

    <a ng-click="model.login(username,password)"
       class="btn btn-primary btn-block"
       role="button">Login
    </a>
    <a class="btn btn-success btn-block"
       href="#/register"
       role="button">Register
    </a>
    </div>
</div>