<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">

        <div ng-if="model.error"
             class="alert alert-danger"
             role="alert">
            {{model.error}}
        </div>

        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget" class="navbar-link">
                    <span class="glyphicon glyphicon-menu-left pull-left"></span>
                </a>
            </p>
            <a class="navbar-brand">
                Widget Edit
            </a>
            <p class="navbar-text pull-right">
                <a ng-click="model.updateWidget(model.widget)" class="navbar-link pull-right">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </p>
        </div>
    </div>
</nav>



<div class="container">
    <form name="myForm">
        <div class="form-group">
            <label for="name">Name</label>
            <input ng-model = "model.widget.name" required
                   name="name"
                   type="text"
                   class="form-control"
                   id="name"
                   placeholder="Home Page First Heading">
        </div>
        <span ng-show="myForm.name.$error.required"
              class="err">
            *Required Field
        </span>
        <div class="form-group">
            <label for="text1">Text</label>
            <input ng-model = "model.widget.text"
                   type="text"
                   class="form-control"
                   id="text1"
                   placeholder="FACEBOOK">
        </div>
        <div class="form-group">
            <label for="sel1">Size</label>
            <select ng-model = "model.widget.size"
                    class="form-control"
                    id="sel1">
                <option> </option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
    </form>

    <a class="btn btn-danger btn-block"
       ng-click="model.deleteWidget()">Delete</a>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="navbar-footer">
            <div class="navbar-text pull-right">
                <a href="#/user/{{model.uid}}">
                    <span class="glyphicon glyphicon-user pull-right"></span>
                </a>
            </div>
        </div>
    </div>
</nav>