<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <!--<a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/{{model.wgid}}" class="navbar-link">-->
                  <!--<span class="glyphicon glyphicon-menu-left"></span>-->
                <!--</a>-->
            </p>
            <a class="navbar-brand">
                Find Answers
            </a>
        </div>
    </div>
</nav>

<div class="container row">
    <div class="input-group">
        <input ng-model="model.ques.searchText"
               type="text"
               class="form-control"
               placeholder="Search your question here">
    <span class="input-group-btn">
        <a ng-click="model.searchQuestions(model.ques.searchText,1)"
           class="btn btn-default"
           type="button">
            <span class="glyphicon glyphicon-search"></span>
        </a>
    </span>
    </div>

    <div class="list-group"
         ng-repeat="question in model.questions">
        <a href="#user/{{model.uid}}/question/{{question.question_id}}" class="list-group-item">
            <h4 class="list-group-item-heading">{{question.title}}</h4>
            <p class="list-group-item-text">There are <b><mark>{{question.answer_count}}</mark></b>  available for this question.</p>
        </a>
    </div>

    <ul class="pagination pull-left">
        <li><a ng-click="model.searchQuestions(model.ques.searchText,1)">1</a></li>
        <li><a ng-click="model.searchQuestions(model.ques.searchText,2)">2</a></li>
        <li><a ng-click="model.searchQuestions(model.ques.searchText,3)">3</a></li>
        <li><a ng-click="model.searchQuestions(model.ques.searchText,4)">4</a></li>
        <li><a ng-click="model.searchQuestions(model.ques.searchText,5)">5</a></li>
    </ul>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="navbar-footer">
            <div class="navbar-text pull-right">
                <a href="#/user/{{model.uid}}">
                    <span class="glyphicon glyphicon-user pull-right"></span>
                </a>
            </div>
        </div>
    </div>
</nav>