<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand">
                Find Answers
            </a>
        </div>
    </div>
</nav>

<div class="col-md-10 col-md-offset-1">
    <div class="input-group">
        <input ng-model="model.ques.searchText"
               type="text"
               class="form-control"
               placeholder="Search your question here">
    <span class="input-group-btn">
        <a ng-click="model.searchQuestions(model.ques.searchText,1)"
           class="btn btn-default"
           type="button">
            <span class="glyphicon glyphicon-search"></span>
        </a>
    </span>
    </div>

    <!--<div class="container">-->

        <hgroup class="mb20">
            <h1>Search Results</h1>
            <h2 class="lead"
                ng-if="model.searching">Top <strong class="text-danger">10</strong> search results for <strong class="text-danger">{{model.ques.searchText}}.Powered By StackOverflow and FindAnswers.</strong></h2>
            <h2 class="lead"
                ng-show="!model.searching">Top <strong class="text-danger">10</strong> featured Questions. <strong class="text-danger">Powered By StackOverflow and FindAnswers</strong></h2>
        </hgroup>

        <section class="col-xs-12 col-sm-12 col-md-12">
            <article class="search-result row"
                     ng-repeat="question in model.questions">

                <div class="col-xs-12 col-sm-12 col-md-10 excerpet">
                    <h3><a href="#user/{{model.uid}}/question/{{question.question_id}}" title="">Q. {{question.title}}</a></h3>

                        <div ng-bind-html="model.getSafeHTML(question.body)"></div><span>.....</span>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-2">
                    <ul class="meta-search">
                        <li><i class="glyphicon glyphicon-comment"></i> <span>{{question.answer_count}} answers</span></li>
                        <li><i class="glyphicon glyphicon-calendar"></i> <span>{{question.creation_date}}</span></li>
                        <li><i class="glyphicon glyphicon-tags"></i> <span>People</span></li>
                    </ul>
                </div>
                <span class="clearfix borda"></span>
                <hr>
            </article>

        </section>
    <!--</div>-->

    <!--<div class="list-group"-->
         <!--ng-repeat="question in model.questions">-->
        <!--<a href="#user/{{model.uid}}/question/{{question.question_id}}" class="list-group-item">-->
            <!--<h4 class="list-group-item-heading">{{question.title}}</h4>-->
            <!--<p class="list-group-item-text">-->
                <!--<div class="col-xs-12 col-sm-12 col-md-3 list-group-item">-->
                    <!--<ul class= "meta-search">-->
                        <!--<li><i class="fa fa-check fa-lg" ng-if="question.is_answered">answered</i>-->
                            <!--<i class="fa fa-comment fa-lg">{{question.answer_count}}</i>-->
                            <!--<i class="fa fa-clock-o fa-lg">{{question.last_activity_date}}</i>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</p>-->
        <!--</a>-->
    <!--</div>-->

    <a href="#/user/{{model.uid}}/question/new"
       class="btn btn-primary custom-btns">
        Post Your Own Question
    </a>

    <ul class="pagination pull-left">
        <li><a ng-click="model.searchQuestions(model.ques.searchText,1)">1</a></li>
        <li><a ng-click="model.searchQuestions(model.ques.searchText,2)">2</a></li>
        <li><a ng-click="model.searchQuestions(model.ques.searchText,3)">3</a></li>
        <li><a ng-click="model.searchQuestions(model.ques.searchText,4)">4</a></li>
        <li><a ng-click="model.searchQuestions(model.ques.searchText,5)">5</a></li>
    </ul>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="navbar-footer">
            <div class="navbar-text">
                <a href="#/user/{{model.uid}}">
                    <span class="glyphicon glyphicon-user pull-right"></span>
                </a>
                <a href="#/user/public/{{model.uid}}">
                    <span class="fa fa-users pull-left"></span>
                </a>
            </div>
        </div>
    </div>
</nav>