<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand">
                Find Answers
            </a>
        </div>
    </div>
</nav>

<div class="col-md-10 col-md-offset-1">
    <div class="input-group">
        <input ng-model="model.ques.searchText"
               type="text"
               class="form-control"
               placeholder="Search your question here">
    <span class="input-group-btn">
        <a ng-click="model.searchQuestions(model.ques.searchText,1)"
           class="btn btn-default"
           type="button">
            <span class="glyphicon glyphicon-search"></span>
        </a>
    </span>
    </div>

    <!--<div class="container">-->

        <hgroup class="mb20">
            <h1>Search Results</h1>
            <h2 class="lead"
                ng-if="model.searching">Top <strong class="text-danger">{{model.pageno * 10}}</strong> search results for <strong class="text-danger">{{model.ques.searchText}}.</strong></h2>
            <h2 class="lead"
                ng-show="!model.searching">Top <strong class="text-danger">{{model.pageno * 10}}</strong> featured Questions. </h2>
            <strong class="text-danger">Powered By StackOverflow and FindAnswers</strong>
        </hgroup>

    <section class="col-xs-12 col-sm-12 col-md-12">
            <article class="search-result row"
                     ng-repeat="question in model.questions">

                <div class="col-xs-12 col-sm-12 col-md-10 excerpet">
                    <h3><a href="#user/{{model.uid}}/question/{{question.question_id}}" title="">Q. {{question.title}}</a></h3>

                        <div ng-bind-html="model.getSafeHTML(question.body)"></div><span>.....</span>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-2">
                    <ul class="meta-search">
                        <li><i class="glyphicon glyphicon-comment"></i> <span>{{question.answer_count}} answers</span></li>
                        <li><i class="glyphicon glyphicon-calendar"></i> <date>{{question.creation_date | date:'mediumDate'}}</date></li>
                        <li><i class="glyphicon glyphicon-tags"></i> <span>People</span></li>
                    </ul>
                </div>
                <span class="clearfix borda"></span>
                <hr>
            </article>

        </section>

    <a href="#/user/{{model.uid}}/question/new"
       class="btn btn-primary custom-btns">
        Post Your Own Question
    </a>

    <ul class="pagination pull-left">
        <li><a ng-click="model.paginate(1)">1</a></li>
        <li><a ng-click="model.paginate(2)">2</a></li>
        <li><a ng-click="model.paginate(3)">3</a></li>
        <li><a ng-click="model.paginate(4)">4</a></li>
        <li><a ng-click="model.paginate(5)">5</a></li>
        <li><a ng-click="model.paginate(6)">6</a></li>
        <li><a ng-click="model.paginate(7)">7</a></li>
        <li><a ng-click="model.paginate(8)">8</a></li>
        <li><a ng-click="model.paginate(9)">9</a></li>
    </ul>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="navbar-footer">
            <div class="navbar-text">
                <a href="#/user/{{model.uid}}">
                    <span class="glyphicon glyphicon-user pull-right"></span>
                </a>
                <a href="#/user/public/{{model.uid}}">
                    <span class="fa fa-users pull-left"></span>
                </a>
            </div>
        </div>
    </div>
</nav>